<ion-view cache-view="false">
 <link href="css/dashboard.css" rel="stylesheet" cache-view="false">

 <ion-header-bar>
         <div class="row">             
             <div class="col col-90" > <p class="titletext">Dashboard</p></div>
             <div class="col col-10"><i class="button-icon ion-log-out close" ng-click="logout()"></i></div>
         </div>
  </ion-header-bar>   
  

  <ion-content class="content_back" padding="true" has-bouncing="false">    
    
            <div class="card" ng-click="timesheet()">
              <div class="row">
                <div class="col col-33 col-offset-33">
                  <i class="icon ion-android-time icon-large"></i>
                </div>
              </div>
              <div class="row">
                <div class="col col-33 col-offset-33">
                  <p>Time Sheet</p>
                </div>
              </div>
            </div>

           

            <div class="card" ng-click="employee()">
              <div class="row">
                <div class="col col-33 col-offset-33">
                  <i class="icon ion-android-people icon-large"></i>
                </div>
              </div>
              <div class="row">
                <div class="col col-33 col-offset-33">
                  <p>Employees</p>
                </div>
              </div>
            </div>


             <div class="card" ng-click="profile()">
              <div class="row">
                <div class="col col-33 col-offset-33">
                  <i class="icon ion-android-people icon-large"></i>
                </div>
              </div>
              <div class="row">
                <div class="col col-33 col-offset-33">
                  <p>Profile</p>
                </div>
              </div>
            </div>          

  </ion-content>
</ion-view>