<ion-view hide-nav-bar="true" cache-view="false">
   <link href="css/registration.css" rel="stylesheet" cache-view="false">
      
       <ion-content class="loginbackgorund" has-bouncing="false">
         <div>
        
            <div class="row">
              <div class="col col-center">
                  <p class="title">Altius Solutions</p>
              </div>
            </div>
         
       <form name="form" role="form">       
        <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                     <div class="form-group">
                         <label class="item item-input label-user">
                         <i class="icon ion-checkmark boxicon"></i>
                           <input type="text" class="text-type" placeholder="employee_id" ng-model="reg.employee_id" ng-readonly="true"/>
                         </label>
                     </div>
                  </div>
              <div class="col col-10"></div>
           </div>

        <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                     <div class="form-group">
                         <label class="item item-input label-user">
                         <i class="icon ion-checkmark boxicon"></i>
                           <input type="text" class="text-type" placeholder="first_name" ng-model="reg.first_name" ng-readonly="true"/>
                         </label>
                     </div>
                  </div>
              <div class="col col-10"></div>
           </div>

           <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                     <div class="form-group">
                         <label class="item item-input label-user">
                         <i class="icon ion-checkmark boxicon"></i>
                           <input type="text" class="text-type" placeholder="last_name" ng-model="reg.last_name" ng-readonly="true"/>
                         </label>
                     </div>
                  </div>
              <div class="col col-10"></div>
           </div>


           <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                     <div class="form-group">
                         <label class="item item-input label-user">
                         <i class="icon ion-checkmark boxicon"></i>
                           <input type="text" class="text-type" placeholder="mobile_number" ng-model="reg.mobile_number" ng-readonly="true"/>
                         </label>
                     </div>
                  </div>
              <div class="col col-10"></div>
           </div>          


           <!-- <div class="row" ng-click="openDatePicker()">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                      <div class="form-group">
                        <label class="item item-input label-pass">
                            <i class="icon ion-checkmark boxicon" ></i>
                            <input type="text" class="text-type" ng-model="reg.date_of_birth" placeholder="Date of birth" max="maxDate" ng-readonly="true"/>
                        </label>

                      </div>
                  </div>
                <div class="col col-10"></div>
            </div> -->

             <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                      <div class="form-group">
                        <label class="item item-input label-pass">
                            <i class="icon ion-checkmark boxicon" ></i>
                            <input type="text" class="text-type" ng-model="reg.date_of_birth" placeholder="Date of birth" max="maxDate" ng-readonly="true"/>
                        </label>

                      </div>
                  </div>
                <div class="col col-10"></div>
            </div>



            <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                     <div class="form-group">
                         <label class="item item-input label-user">
                         <i class="icon ion-checkmark boxicon"></i>
                           <input type="text" class="text-type" placeholder=" " ng-model="reg.designation" ng-readonly="true"/>
                         </label>
                     </div>
                  </div>
              <div class="col col-10"></div>
           </div>

           <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                     <div class="form-group">
                         <label class="item item-input label-user">
                         <i class="icon ion-checkmark boxicon"></i>
                           <input type="text" class="text-type" placeholder="street" ng-model="reg.street" ng-readonly="true"/>
                         </label>
                     </div>
                  </div>
              <div class="col col-10"></div>
           </div>

           <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                     <div class="form-group">
                         <label class="item item-input label-user">
                         <i class="icon ion-checkmark boxicon"></i>
                           <input type="text" class="text-type" placeholder="city" ng-model="reg.city" ng-readonly="true"/>
                         </label>
                     </div>
                  </div>
              <div class="col col-10"></div>
           </div>

           <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                     <div class="form-group">
                         <label class="item item-input label-user">
                         <i class="icon ion-checkmark boxicon"></i>
                           <input type="text" class="text-type" placeholder="state" ng-model="reg.state" ng-readonly="true"/>
                         </label>
                     </div>
                  </div>
              <div class="col col-10"></div>
           </div>

           <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                     <div class="form-group">
                         <label class="item item-input label-user">
                         <i class="icon ion-checkmark boxicon"></i>
                           <input type="text" class="text-type" placeholder="country" ng-model="reg.country" ng-readonly="true"/>
                         </label>
                     </div>
                  </div>
              <div class="col col-10"></div>
           </div>

           <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                     <div class="form-group">
                         <label class="item item-input label-user">
                         <i class="icon ion-checkmark boxicon"></i>
                           <input type="text" class="text-type" placeholder="pincode" ng-model="reg.pincode" ng-readonly="true"/>
                         </label>
                     </div>
                  </div>
              <div class="col col-10"></div>
           </div>                       
           
           <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                      <div class="form-group">
                        <label class="item item-input label-pass">
                            <i class="icon ion-checkmark boxicon"></i>
                            <input type="number" class="text-type" placeholder="CTC" ng-model="confirm.ctc" />
                        </label>
                      </div>
                  </div>
                <div class="col col-10"></div>
           </div>

           <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                      <div class="form-group">
                        <label class="item item-input label-pass">
                            <i class="icon ion-checkmark boxicon"></i>
                            <input type="password" class="text-type" placeholder="Create Password" ng-model="confirm.password" />
                        </label>
                      </div>
                  </div>
                <div class="col col-10"></div>
            </div>           

             <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                      <div class="form-group">
                        <label class="item item-input label-pass">
                            <i class="icon ion-checkmark boxicon"></i>
                            <input type="password" class="text-type" placeholder="Verify Password" ng-model="confirm.verify"/>
                        </label>
                      </div>
                  </div>
                <div class="col col-10"></div>
            </div>          

           
            <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                      <div class="form-group">
                       <center>
                        <button class="button button-block button-darker"  ng-click='save()'>
                          Confirm</button></center>
                      </div>
                  </div>
                <div class="col col-10"></div>
            </div>
        </form> 
        
           <div class="row">
               <div class="col col-33"></div>
                 <div class="col col-33">
                   <center><a class="noaccount" ng-click="backgo()"><i class="icon ion-chevron-left">  Go Back</i></a></center>
                 </div>
                <div class="col col-33"></div>
           </div>
    
       </div>
   </ion-content>
   
</ion-view>

