<ion-view hide-nav-bar="true" cache-view="false" >
   <link href="css/registration.css" rel="stylesheet" cache-view="false">
      
       <ion-content class="loginbackgorund" has-bouncing="false">
         <div>
        
            <div class="row">
              <div class="col col-center">
                  <p class="title">Altius Solutions</p>
              </div>
            </div>
         
       <form name="form" role="form">       

          <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                     <div class="form-group">
                         <label class="item item-input label-user">
                         <i class="icon ion-email boxicon"></i>
                           <input type="email" class="text-type" placeholder="Email id" ng-model="confirm.emailid" ng-required="true"/>
                         </label>
                     </div>
                  </div>
              <div class="col col-10"></div>
           </div>

            <div class="row">
              <div class="col col-10"></div>
                  <div class="col col-80 col-center">
                      <div class="form-group">
                       <center>
                        <button class="button button-block button-darker" ng-disabled="form.$invalid"  ng-click='next()'>
                          NEXT</button></center>
                      </div>
                  </div>
                <div class="col col-10"></div>
            </div>
        </form> 
        
           <div class="row">
               <div class="col col-33"></div>
                 <div class="col col-33">
                   <center><a class="noaccount" ng-click="backgo()"><i class="icon ion-chevron-left">  Go Back</i></a></center>
                 </div>
                <div class="col col-33"></div>
           </div>
    
       </div>
   </ion-content>
   
</ion-view>



  