.content_back{
  background-color: #D8D8D8;
}

.icon-large{
  font-size: 60px;
  color: #E96E28;
}

.bar{
    width: 100%;
    background-color: #074F89;
 }
.close{
  color: #ffffff;
    font-size: 22px;
}

.titletext{
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-size: 15pt; 
}
.button-positive{
  background-color: #074F89;
}
