
.bar{
    width: 100%;
    background-color: #074F89;
 }
.close{
  color: #ffffff;
    font-size: 22px;
}

.titletext{
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-size: 15pt; 
}
.content_back{
  background-color: #D8D8D8;
}
.icon-clr{
  color: #E96E28;
}
.line {
    border-right: 1px solid;
    border-color: #c3c3c3;
}
.item.item-text-wrap.activated{
  background-color: #fff;
}

