.loginbackgorund {
    background-color: #074F89;
}

.title {
    text-align: center!important;
    color: white!important;
    font-style:"Rubik";
}
.button-darker {
    border-color:#E96E28;
    background-color:#E96E28;
    color: #fff;
    border-radius: 10px 10px !important;
}
button.button.button-block.button-darker{
    /*border-color:#E96E28;*/
    background-color:#E96E28;
    color: #fff;
    border-radius: 10px 10px !important; 
}

.goback{
    text-align: center;
    margin-left: 35%;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}
.footer{
        background-color: #2A4281;

}

.mar-top-img {
    margin-top: 35px!important;
    width: 78%;
    border-bottom: 1px solid #365086;
}

.label-user {
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    height: 38px !important;
    color: white!important;
    border-color: #ffffff;
    border-left: none;
    border-right: none;
    font-style:"Rubik";
}
.label-pass {
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    height: 38px !important;
    color: white!important;
    border-color: #ffffff;
    border-left: none;
    border-right: none;
    border-top: none;
    font-style:"Rubik";
}



a.noaccount{
    color: #e3e8f2 !important;
    font-style:"Rubik";
    cursor: pointer;
}

.boxicon{
    color: #E96E28;
    margin-right: 15px;
    font-weight: bold;
    font-size: 25px;
}
/*.placeholder{
    color: #F2F2FC!important;
}*/
.text-type {
    color: black!important;
    margin:5px;
}
.noaccount{
    color: #606B84!important;
    font-style:"Rubik";
}
.signup{
  color: white!important;
  cursor: pointer;  
  font-style:"Rubik";
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: pink; } 
::-moz-placeholder { /* Firefox 19+ */ color: pink; }
 :-ms-input-placeholder { /* IE 10+ */ color: pink; } 
:-moz-placeholder { /* Firefox 18- */ color: pink; }
placeholder { /* Firefox 19+ */ color: pink; }.button.button-positive {
    border-color: transparent;
    background-color: #F0A920;
    color: #131F3C;
    font-style:"Rubik";
}
 /*.button.button-positive:hover {
    color: #131F3C;
    text-decoration: none;
    border-color:#E96E28;
    background-color:#E96E28;
    font-style:"Rubik";

}*/
/*.popup-open .popup {
    pointer-events: auto;
    background-color: white;
}
.popup-title {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: grey;
    font-weight: bold;
     font-family: "Rubik";
}
body, .ionic-body { 
    color:grey;
    font-family: "Rubik";   
}
.popup-head {
    padding: 15px 10px;
    border-bottom: 1px solid #696666;
    text-align: center;
     font-family: "Rubik";
}*/
button.button.button-positive.activated,button.button.button-positive{
   color:#fff;     
}